.imageAbout img{
    margin: 30px;
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.About{
    color: rgb(250, 7, 149);
    text-align: center;
    
}