.driver{
    display: flex;
flex-direction: column;
font-size: 1.3em;
margin: auto;
    color: #f8046a;

}

.table{
    border: 3px solid blue;
}
.row{
    border: 3px solid blue;
    height: auto;
    width: 8em;
    text-align: center;
}